{% extends 'base.html' %}
{% block content %}
{% load static %} 

    <!-- page2 Section2 -->
    <div class="page2HeroSection">
        <div class="page2HeroSecText1">
            <a href=""><p>Home</p></a>
            <p>/ Drive Business Growth</p>
        </div>
        <div class="page2HeroSecText2">
            <h2>
                DRIVE BUSINESS  GROWTH

            </h2>
        </div>

    </div>

    <!-- page2 Section3 -->
    <div class="page2AboutUsSection">
        <div class="page2AboutUsSecTri">
            <img src="" alt="">
        </div>
    </div>

    <div class="page2infoSection">
        <div class="page2infoSectionTri">
            <img src="{% static 'img/night_Light.jpg'%}" class="triNight_light">
        </div>

        <div class="page2infoSectionText">
            <h3>
                When companies need to transform their business, it takes more than technology. Driving business growth takes the right people, applying the right processes, using the right data, working together to achieve shared success.
            </h3>
            <p>
                We’re in it with you. TEKsystems business modernization services create sustainable solutions that keep your business forward-thinking and owning what’s next.
                <br>
                <br>

                We dig in deeply to understand your business, your culture, your operations and challenges. Define the metrics that matter most to your shareholders, stakeholders and customers.
            </p>
        </div>
        
        <div class="page2infoSectionText2">
            <p>
                Then, working side by side with your internal teams, we’ll make sure your vision and goals are powered by the right technology <br> and a clear plan to drive business growth.
            </p>
            <h3>
                Together, we’ll optimize your ability to sense and respond to market realities by improving end- <br>user experiences, streamlining operations and reducing total cost of ownership.
            </h3>
        </div>
    </div>

    <div class="page2DriveBusGrowth">
        <div class="page2DriveBusGrowthtext">
            <p>What we offer</p>
            <h2>Drive Business Growth</h2>
        </div>
        <div class="page2DriveBusGrowthcardcontainer">
            <div class="page2DriveBusGrowthcard">
                <div class="page2DriveBusGrowthcardicon">
                    <i class="bi bi-globe2 globalicon"></i>
                </div>
                <div class="page2DriveBusGrowthcardtext">
                    <h3>Business Modernization</h3>
                    <p>Future-proof your business griowth with a clear vision, <br>
                    strategy and reoadmap-and adept execution</p>
                </div>
                <div class="page2DriveBusGrowthcardBTN">
                    <button>Read Now</button>
                </div>
            </div>
            <div class="page2DriveBusGrowthcard">
                <div class="page2DriveBusGrowthcardicon">
                    <i class="bi bi-globe2 globalicon"></i>
                </div>
                <div class="page2DriveBusGrowthcardtext">
                    <h3>Business Modernization</h3>
                    <p>Future-proof your business griowth with a clear vision, <br>
                    strategy and reoadmap-and adept execution</p>
                </div>
                <div class="page2DriveBusGrowthcardBTN">
                    <button>Read Now</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Section 5 ourApproach -->
    <div class="ourApproach">
        <div class="ourApproachText">
         <p>Our Approach</p>
         <h2>How We Do It</h2>
        </div>
 
        <div class="ourApprochCardContainer">
            <div class="ourApprochContainer">
             <div class="ourApprochContainerIcon">
                 <i class="bi bi-tools"></i>
             </div>
             <div class="ourApprochContainerText">
                 <h2>DevOps & Agile</h2>
                 <p>Accelerate speed and delivery for scalable <br>growth</p>
             </div>
             <div class="ourApprochContainerarrow">
                 <h3>Read Now <i class="bi bi-arrow-right"></i></h3>
             </div>
            </div>
            <div class="ourApprochContainer">
             <div class="ourApprochContainerIcon">
                 <i class="bi bi-shield-shaded"></i>
             </div>
             <div class="ourApprochContainerText">
                 <h2>Risk and Security</h2>
                 <p>Security-first strategies and enterprice-wide<br> solutions to safeguard your business</p>
             </div>
             <div class="ourApprochContainerarrow">
                 <h3>Read Now <i class="bi bi-arrow-right"></i></h3>
             </div>
            </div>
            <div class="ourApprochContainer">
             <div class="ourApprochContainerIcon">
                 <i class="bi bi-people-fill"></i>
             </div>
             <div class="ourApprochContainerText">
                 <h2>WorkForce Development</h2>
                 <p>Innovative workforce solutions that unlock <br> transformation and high performance</p>
             </div>
             <div class="ourApprochContainerarrow">
                 <h3>Read Now <i class="bi bi-arrow-right"></i></h3>
             </div>
            </div>
        </div>
     </div>


     <div class="ourPartnership">
        <div class="ourPartUpper">
            <div class="ourPartUpperText">
                <small>Our Partnerships</small>
                <h3>In Good Company</h3>
                <p>Transformational technologies demand equally transformative partnerships. <br>Full-stack capabilities coupled with depth and diversity of experience in leading <br>platforms that help organizations grow, innovate and thrive.</p>
            </div>
            <div class="ourPartUpperArrow">
                <h3>View All</h3>
                <i class="bi bi-arrow-right"></i>
            </div>

        </div>
        <div class="ourPartLower">
            <div>
                <img src="{% static 'img/aws.png'%}" width="100px">
            </div>

            <div>
                <img src="{% static 'img/clod.png'%}" width="100px">
            </div>
            
            <div>
                <img src="{% static 'img/msp.png'%}" width="200px">
            </div>
            
            <div>
                <img src="{% static 'img/redhat.png'%}" width="200px">
            </div>

            <div>
                <img src="{% static 'img/SN.png'%}" width="200px">
            </div>
            
            <div>
                <img src="{% static 'img/SF.png'%}" width="200px">
            </div>
            
        </div>

    </div>

    <div class="page2OurlatesestInsight">
        <div class="page2OurlatestInsightText">
            <div class="page2OurlIt">
                <small>Latest Insights</small>
                <h3>Thinking Forward</h3>
            </div>
            <div class="page2OurlItA">
                <h3>View All</h3>
                <i class="bi bi-arrow-right"></i>
            </div>
        </div>
        <div class="page2OurlatestInsightImagecardContainer">
                <div class="page2OurlatestInsightCardConataner">
                    <div class="page2OurlatestInsImageCard">
                        <div class="page2OurlateInImage">
                            <img src="{% static 'img/coworkers.jpg'%}" width="100%">
                        </div>
                        <div class="page2OurlateInText">
                            <small> 
                                Infographic
                            </small>
                            <h3>
                                Create a Customized Plan for  Your Snowflake Data Migration
                            </h3>
                            <p>
                                Implement these seven strategies for optimizing costs with Snowflake to help your  organization  efficiently manage resources.
                            </p>
                            <div class="OurlItcArrow">
                                <h3>View All</h3>
                                <i class="bi bi-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="page2OurlatestInsightCardConataner">
                    <div class="page2OurlatestInsImageCard">
                        <div class="page2OurlateInImage">
                            <img src="{% static 'img/coworkers.jpg'%}" width="100%">
                        </div>
                        <div class="page2OurlateInText">
                            <small> 
                                Infographic
                            </small>
                            <h3>
                                Create a Customized Plan for  Your Snowflake Data Migration
                            </h3>
                            <p>
                                Implement these seven strategies for optimizing costs with Snowflake to help your  organization  efficiently manage resources.
                            </p>
                            <div class="OurlItcArrow">
                                <h3>View All</h3>
                                <i class="bi bi-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="page2OurlatestInsightCardConataner">
                    <div class="page2OurlatestInsImageCard">
                        <div class="page2OurlateInImage">
                            <img src="{% static 'img/coworkers.jpg'%}" width="100%">
                        </div>
                        <div class="page2OurlateInText">
                            <small> 
                                Infographic
                            </small>
                            <h3>
                                Create a Customized Plan for  Your Snowflake Data Migration
                            </h3>
                            <p>
                                Implement these seven strategies for optimizing costs with Snowflake to help your  organization  efficiently manage resources.
                            </p>
                            <div class="OurlItcArrow">
                                <h3>View All</h3>
                                <i class="bi bi-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                
            
        </div>
    </div>
    
    <div class="page1Letscontact">
        <div class="page1LetscontactText">
            <h3>
                Interested in speaking with TEKsystems?
            </h3>
            <button>
                LET'S CONNECT
            </button>
        </div>
    </div>

{% endblock %}