*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    

}

.wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 98765876;
}

.topNav{
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: .5px solid silver; */
    padding: 0px 50px;
}
.topNav .left{
    display: flex;
    align-items: center;
}
.topNav .left .logo p{
    font-size: 24px;
    font-weight: bold;
    color: #494949;
    margin-right: 25px;
}

.topNav .left .logo p span{
    color: #37a000;
}

.topNav .right ul li{
    border-right: 1px solid silver;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.topNav .right ul {
    display: flex;
    list-style-type: none;
}
.topNav .right ul li{
    text-transform: uppercase;
    
    
}
.topNav .right ul li a{
    color: black;
    /* font-size: 20px; */
    width: bold;
}

.bottomNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    border-top: .5px solid silver;
    border-bottom: .5px solid silver;
}

.bottomNav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}
.bottomNav ul li{
    padding: 15px;
    
}
.bottomNav ul li a{
    color: black;
    font-size: 20px;
    width: bold;
}

.homeHeroSection{
   height: 100vh;
   overflow-y: hidden;
   position: relative;
   
}
/* dropdown1 */
.dropdownMenu{
    padding: 10px 50px;
    background: rgb(1, 1, 55);
    color: white;
    transform: scale(1);
    transition: all .2s ease;
    position: absolute;
    width: 100%;
    top: 115px;
    z-index: 989093857;
}

.dropdownHide{
    padding: 10px;
    background: rgb(1, 1, 55);
    color: white;
    transform: scale(0);
    transition: all .2s ease;
    /* width: 100%; */
    position: absolute;
    width: 100%;
    top: 120px;
    z-index: 989093857;
}
/* dropdown2 */
.dropdownMenu2{
    padding-top: 30px;
    background: rgb(1, 1, 55);
    color: white;
    transform: scale(1);
    transition: all .2s ease;
    position: absolute;
    width: 100%;
    top: 115px;
    z-index: 989093857;
}

.dropdownHide2{
    padding-top: 100px;
    background: rgb(1, 1, 55);
    color: white;
    transform: scale(0);
    transition: all .2s ease;
    /* width: 100%; */
    position: absolute;
    width: 100%;
    top: 120px;
    z-index: 989093857;
    
}

.dropdownMenu2 .dropDownGroup1 a{
    margin: 1px 0;
}
/* dropdown3 */
.dropdownMenu3{
    padding-top: 30px;
    background: rgb(1, 1, 55);
    color: white;
    transform: scale(1);
    transition: all .2s ease;
    position: absolute;
    width: 100%;
    top: 115px;
    z-index: 989093857;
}

.dropdownHide3{
    padding-top: 100px;
    background: rgb(1, 1, 55);
    color: white;
    transform: scale(0);
    transition: all .2s ease;
    /* width: 100%; */
    position: absolute;
    width: 100%;
    top: 120px;
    z-index: 989093857;
}
/* dropdown4 */
.dropdownMenu4{
    padding-top: 30px;
    background: rgb(1, 1, 55);
    color: white;
    transform: scale(1);
    transition: all .2s ease;
    position: absolute;
    width: 100%;
    top: 115px;
    z-index: 989093857;
}

.dropdownHide4{
    padding-top: 100px;
    background: rgb(1, 1, 55);
    color: white;
    transform: scale(0);
    transition: all .2s ease;
    /* width: 100%; */
    position: absolute;
    width: 100%;
    top: 120px;
    z-index: 989093857;
}
/* dropdown5 */
.dropdownMenu5{
    padding-top: 30px;
    background: rgb(1, 1, 55);
    color: white;
    transform: scale(1);
    transition: all .2s ease;
    position: absolute;
    width: 100%;
    top: 115px;
    z-index: 989093857;
}

.dropdownHide5{
    padding-top: 100px;
    background: rgb(1, 1, 55);
    color: white;
    transform: scale(0);
    transition: all .2s ease;
    /* width: 100%; */
    position: absolute;
    width: 100%;
    top: 120px;
    z-index: 989093857;
}

.dropDownHeading{
    /* margin-left: 125px; */
    padding: 30px 0;
}
.dropDownGroup{
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

.dropDownGroup1 h4{
    margin: 5px 0;
}
.dropDownHeading a{
    color: white;
}
.dropDownGroup1 a{
    color: white;
}
.dropdownbottomWithArrowHeading a{
    color: white;
}
.dropdownbottomWithArrowcontent a{
    color: white;
}
.dropdownarrow a{
    color: green;
}
.dropdownbottomWithArrow2{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
}

.dropdownbottomWithArrow3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
.dropdownarrow33 a{
    color: #37a000;
}

.dropdownbottomWithArrowcontent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 125px;
    padding: 30px 0;
}

.dropdownbottomWithArrowcontent44{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 10px 0;
    padding-bottom: 20px;
}
.dropdownbottomWithArrowcontent44 a{
    color: white;
}
.dropDownGroup55{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px 0;
}

.heroVide{
    width: 100%;
}
.heroOverlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);

}

.heroTextContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 345678;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroTextContainer h1{
    text-align: center;
    font-size: 80px;
    color: white;
    margin-top: 150px;
}

.heroTextContainer h3{
    font-size: 30px;
    color: white;
    margin: 50px 0;
    font-weight: normal;

}

.heroTextContainer button{
    border: none;
    background: yellow;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 20px;
    width: bold;
    cursor: pointer;
}

.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 50px ; */
    height: 100vh;
   
}
.aboutImage{
    position: relative;
    height: 400px;
    
}
.aboutImage1{
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    height: 300px;
    position: absolute;
    /* top: -10px; */
    right: -200px;
}
.aboutImage2{
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    height: 300px;
    margin-right: 50px;
    position: absolute;
    bottom: -170px;
    right: -400px;
}

.aboutText{
    width: 600px;
}

.aboutText small{
    font-size: 20px;
    color: aqua;
}
.aboutText h3{
    font-size: 30px;
    margin-top: 10px;
}
.aboutText p{
    font-size: 20px;
    margin-top: 10px;
    line-height: 40px;
}

.infograph{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 50px rgba(0, 0, 0,.2);

}

.infographImage{
    clip-path: polygon(0% 0%, 100% 0, 84% 66%, 64% 100%, 0% 100%);
}
.infographText {
    padding: 100px;
}

.infographText small{
    font-size: 20px;
    width: bold;
    color: aqua;
    margin-bottom: 20px ;
}

.infographText h3{
    margin-top: 10px;
    width: bold;
    font-size: 30px;
}

.infographText p {
    margin-top: 10px;
    width: bold;
    font-size: 20px;
}

.infograpgTextKeepReading button{
    margin: 20px 0;
    padding: 10px 40px ;
    border-radius: 5px;
    background: yellow;
    border: none;
    
}
.infograpgTextKeepReading button h5{
    font-size: 15px;
    width: bold;
}

.infograpgTextKeepReading button:hover{
    cursor: pointer;
    transform: translateY(-10px);
    transition: 0.3s;
}
.articles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    

}

.articlText{
    margin-left: 90px;
    padding: 10px;
}

.articlText small{
    font-size: 20px;
    width: bold;
    color: aqua;
}
.articlText h3{
    margin-top: 20px;
    font-size: 30px;
}
.articlText p{
    margin-top: 20px;
    font-size: 20px;
}

.articleTextBtn{
    margin-top: 20px;
}
.articleTextBtn button{
    padding: 10px 30px;
    background: yellow;
    border-radius: 5px;
    border: 0.5px;  
}

.articleTextBtn button:hover{
    cursor: pointer;
    transform: translateY(-10px);
    transition: 0.3s;
}
.articleImage{
    margin-top: 20px;
    clip-path: polygon(52% 0, 100% 0%, 100% 98%, 25% 99%, 38% 35%);
}

.ourPartnership{
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 10px;
    /* box-shadow: 0 0 50px rgba(0, 0, 0,.2); */
}
.ourPartUpper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ourPartUpperText{
    margin-left: 100px;
}
.ourPartUpperText small{
    margin-top: 20px;
    font-size: 18px;
    width: bold;
    color: aqua;
}

.ourPartUpperText h3{
    margin-top: 20px;
    font-size: 30px;
    width: bold;

}
.ourPartUpperText p {
    margin-top: 10px;
    line-height: 25px;
}
.ourPartUpperArrow{
    display: flex;
}
.ourPartUpperArrow{
    margin-right: 100px;
    color: #37a000;
    cursor: pointer;
}
.ourPartUpperArrow h3{
    margin: 0 10px;
}
.ourPartUpperArrow h3:hover{
    transform: translateX(-10px);
    transition: .3s;

}

.ourPartUpperArrow i{
    font-size: 20px;
    width: bold;
}

.ourPartLower{
    margin: 20px 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.latesestInsight{
    margin-top: 10px;
    height: 120vh;
}

.latestInsightText{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 110px;

}

.lIt small{
    font-size: 15px;
    width: bold;
    color: aqua;
}

.lIt h3{
    font-size: 30px;
    width: bold;
    margin-top: 20px;
}

.lItA{
    display: flex;
    color: #37a000;
}

.lItA h3{
    margin: 0 10px;
}

.lItA h3:hover{
    transform: translateX(-10px);
    transition: .3s;
}

.lItA i{
    font-size: 20px;
    width: bold;
}
.latestInsightImagecardContainer{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    min-height: 100vh;
    
}

.latestInsImageCard{
    background: white;
}

.latestInsImageCard:hover{
    transform: scale(1.2);
    cursor: pointer;
    width: 350px;
}

.latestInsImageCard:hover .lItcArrow{
    border-bottom: 1px solid black;
    color: black;
    margin-top: 20px;
}


.latestInsImageCard{
    /* display: grid; */
    width: 300px;
    overflow: hidden;
    /* background: whitesmoke; */
    border-radius: 10px;
    transition: all 0.3s ease;
}

.lateInImage img{
    border-radius: 10px;
}

.lateInText small{
    margin: 10px 0;
    color: aqua;
    font-size: 20px;
    width: bold;
}
.lateInText{
    font-size: 18px;
    width: bold;
    padding: 10px 20px;
}

.lateInText p{
    margin: 10px 0;
}
.lItcArrow{
    display: flex;
    align-items: center;
    color: #37a000;
    width: max-content;
    
}
.lItcArrow h3{
    margin-right: 10px;
}

.atAGlance{
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 0 50px rgba(0, 0, 0,.2);
    padding: 50px 0;
}

.atAGlanceText{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}

.atAgTT small{
   color: aqua;
   font-size: 20px;
   width: bold;

}

.atAgTT h3{
    font-size: 40px;
    width: bold;
    margin: 20px 0;
}

.atAGLDis{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.atAGLLocation{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 30px;
    width: bold;
}
.atAGLLocation i{
    font-size: 70px;
    color: chocolate;
}

.atAGLStats{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 30px;
    width: bold;
}

.atAGLStats i{ 
    font-size: 60px;  
    color: chocolate;
    
}

.atAGLLocation  h3{
    font-size: 50px;
}

.atAGLStats h3{
    font-size: 50px;
}

.atAGLMap {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.atAGLIncrease{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.atAGLInc1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.atAGLInc1circl{
    padding: 50px 50px;
    background: whitesmoke;
    border-radius: 50%;
    border-width: 10px;
}

.atAGLInc2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.atAGLInc2circle{
    padding: 50px 50px;
    background: whitesmoke;
    border-radius: 50%;
    border-width: 10px;
}

.atAGLInc3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.atAGLInc3circle{
    padding: 50px 50px;
    background: whitesmoke;
    border-radius: 50%;
    border-width: 10px;
}

.transformSolo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
   
}

.transformText{
    width: 600px;
    margin-right: 300px;
}

.transformText h3{
    font-size: 50px;
    width: bold;
}

.transformButton {
    background: #9bec29;
    padding: 20px 50px;
    border-radius: 5px;
    margin: 20px 0 ;
}

.transformButton:hover{
    transform: scale(1.1);
    transition: 0.5s;
    background-color: #ccf298;
    color: #fff;
}
.transformButton h3{
    color: black;
}

.tekSysFooter{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 50 0px;
    gap: 20px;
    padding: 80px ;
    background: rgb(8, 8, 45);
    
}
.tekSisFoo1{
    width: 550px;
}

.tekSisFoo1 p{
    color: white;
    font-size: 15px;
    width: bold bold;
    margin: 30px 0;

}
.tekSisFoo1 small{
    color: #fff;
    font-size: 10px;
    line-height: 5px;
}
.tekSisFoo1 h2{
    color: white;
}
.tekSisFoo1 h2 span{
    font-size: 40px;
    width: bold;
    color: white;
    
}

.tekSisFoo2{
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.tekSisFoo2 h4{
    color: aqua;

}

.tekSisFoo2 a {
    color: white;
    font-size: 15px;
    width: max-content;
    transition: all .3s ease;

}

.tekSisFoo2 a:hover{
    color: rgb(100, 194, 238);
    font-size: 18px;
    border-bottom: 1px solid rgb(100, 194, 238);
}


.tekSisFoo3{
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.tekSisFoo3 h4{
    color: aqua;
}

.tekSisFoo3 a {
    color: white;
    font-size: 15px;
    width: max-content;
    transition: all .3s ease;
}
.tekSisFoo3 a:hover{
    color: rgb(100, 194, 238);
    font-size: 18px;
    border-bottom: 1px solid rgb(100, 194, 238);
}

.tekSisFoo4{
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.tekSisFoo4 h4{
    color: aqua;
}

.tekSisFoo4 a{
    color: white;
    font-size: 15px;
    width: max-content;
    transition: all .3s ease;
}

.tekSisFoo4 a:hover{
    color: rgb(100, 194, 238);
    font-size: 18px;
    border-bottom: 1px solid rgb(100, 194, 238);
}