{% load static %}
<div class="tekSysFooter">
    <div class="tekSisFoo1">
        <h2>
            <span>Tek</span>Systems
        </h2>

        <p>
            A new world of opportunity awaits. We stand ready to partner side by side with you. Whether it’s developing solutions that transform your technology stack, your business or your workforce, we’re in it with you. Let’s own change, together.
        </p>

        <small>
            Please note, the information provided on this website may contain content that may not reflect our Asia-Pacific or European markets. Please contact your local TEKsystems office with any questions or for additional information.
        </small>
    </div>
    <div class="tekSisFoo2">
        <h4>Further Reading</h4>
        <a href="">Maximiz Technologt ROI</a>
        <a href="">Drive Business Growth</a>
        <a href="">Evaluate Customer Experences</a>
        <a href="">Mobilize Talent</a>
        <a href="">insight</a>
    </div>
    <div class="tekSisFoo3">
        <h4>More Information</h4>
        <a href="">Locations</a>
        <a href="">Site Map</a>
        <a href="">LCA</a>
        <a href="">Internal Careers</a>
        <a href="">Contact Us</a>
    </div>
    <div class="tekSisFoo4">
        <h4>Policies</h4>
        <a href="">Cookie Notice</a>
        <a href="">Cookie Settings</a>
        <a href="">Privacy Notice</a>
        <a href="">CA Notice at Collection</a>
        <a href="">CA Notice at Collection <br>(for Employees and  Job App)</a>
        <a href="">Manditory Notice <i class="bi bi-box-arrow-up-right"></i></a>
        <a href="">Terms and Condition <i class="bi bi-box-arrow-up-right"></i></a>
    </div>
</div>