<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page3</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="page1.css">
    <link rel="stylesheet" href="abt.css">
    <link rel="stylesheet" href="page2.css">
    <link rel="stylesheet" href="page3.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>

     <!-- Section 1 Wrapper -->
     <div class="wrapper">
        
        <div class="topNav">
            <div class="left">
                <div class="logo"><p><span>Tek</span>System</p></div>
                <!-- <div class="searchBar">
                    <input type="text" placeholder="Search">
                </div> -->
            </div>
            <div class="right">
                <ul>
                    <li><a href=""><i class="bi bi-geo-alt-fill"></i> Location</a></li>
                    <li><a href=""><i class="bi bi-globe"></i> US English <i class="bi bi-chevron-down"></i></i></a></li>
                    <li><a href=""><i class="bi bi-search"></i></a></li>
                </ul>
            </div>
        </div>
        
        <div class="bottomNav">
            <div class="bottomleft"></div>
            <div class="bottomright">
                <ul>
                    <li>
                        <a href="">WHAT WE DO <i class="bi bi-chevron-down"></i></a>
                    </li>
                    <li>
                        <a href="">INDUSTRIES <i class="bi bi-chevron-down"></i></a>
                        <div class="dropDown1">

                        </div>
                    </li>
                    <li>
                        <a href="">INSIGHTS <i class="bi bi-chevron-down"></i></a>
                        <!-- <div class="dropDown2">
                            <div class="dropDown2Min">
                                <h2>
                                    ACCELERATE BUSINESS TRANSFORMATION
                                </h2>
                            </div>
                            <div class="dropDown2empty">

                            </div>
                           
                        </div> -->
                    </li>
                    <li>
                        <a href="">CARRERS <i class="bi bi-chevron-down"></i></a>
                        <div class="dropDown3">

                        </div>
                    </li>
                    <li>
                        <a href="">WHO ARE WE <i class="bi bi-chevron-down"></i></a>
                        <div class="dropDown4">

                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div class="page3HeroSection">
        <div class="page3HeroSectionleft">
            <small>Version Next, Now</small>
            <h2>MODERNIZING APPLICATIONS FOR TOMORROW</h2>
            <div class="page3HeroSectionleftimg">
                <img src="./assets/gadgetsss.jpg" >
            </div>
            <div class="page3HeroSectionleftp">
                <p>TEKsystems Global Services experts share their knowledge on modernized applications and how they enable greater agility and innovation, allowing organizations to seize new opportunities and adapt quickly to market changes.</p>
            </div>
            
            <div class="page3HeroSectionBTN">
                <button>Read more</button>
            </div>
        </div>
        <div class="page3HeroSectionright">
            <div class="page3HeroSectionrightcard">
                <h3>Mitigate organizational risk through PAM</h3>
                <p>Learn how to strengthen your enterprise security through internal employee privileged access</p>

                <div class="page3HeroSectionrightcardarrow">
                    <i class="bi bi-arrow-right"></i>
                </div>
                <hr>
            </div>
            <div class="page3HeroSectionrightcard">
                <h3>Mitigate organizational risk through PAM</h3>
                <p>Learn how to strengthen your enterprise security through internal employee privileged access</p>

                <div class="page3HeroSectionrightcardarrow">
                    <i class="bi bi-arrow-right"></i>
                </div>
                <hr>
            </div>
            <div class="page3HeroSectionrightcard">
                <h3>Mitigate organizational risk through PAM</h3>
                <p>Learn how to strengthen your enterprise security through internal employee privileged access</p>

                <div class="page3HeroSectionrightcardarrow">
                    <i class="bi bi-arrow-right"></i>
                </div>
                <hr>
            </div>
            
        </div>
    </div>

    <div class="page3RecentIncight">
        <div class="page3RecentIncightText">
            <p>Recent Insights</p>
            <h3>VISION ACTIVATED</h3>
        </div>
        <div class="page3RecentIncightdetails">
            <select name="" id="">
                <option value="">Service</option>

            </select>
        </div>
    </div>
    
</body>
</html>