
.page3HeroSection{
    padding-top: 150px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
    
}


.page3HeroSectionleft{
    width: 600px;
   
}
.page3HeroSectionleft small{
    color: rgb(7, 233, 233);
}
.page3HeroSectionleft h2{
    font-size: 35px;
}
.page3HeroSectionleftimg{
    width: 500px;
    height: 300px;
    padding: 10px 0;
    
}
.page3HeroSectionleftimg img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.page3HeroSectionleftp {
    padding: 20px 0;
    width: 530px;
    line-height: 30px;
}

.page3HeroSectionBTN button{
    transform: translateX(430px);
    border: none;
    background: greenyellow;
    padding: 5px 10px;
    border-radius: 5px;
    
}


.page3HeroSectionright{
    width: 300px;
    border-left: 1px gray solid ;
}

.page3HeroSectionrightcard{
    padding: 0 15px;
}
.page3HeroSectionrightcard h3{
    font-size: 25px;
}
.page3HeroSectionrightcard p{
    padding: 20px 0;
}

.page3HeroSectionrightcardarrow i{
    color: green;
    font-size: 25px;

    
}
.page3HeroSectionrightcardarrow{
    
    width: 30px;
    transform: translateX(220px);
}