{% load static%}
<div class="wrapper">
        
    <div class="topNav">
        <div class="left">
            <div class="logo"><p><span>Tek</span>System</p></div>
            <!-- <div class="searchBar">
                <input type="text" placeholder="Search">
            </div> -->
        </div>
        <div class="right">
            <ul>
                <li><a href=""><i class="bi bi-geo-alt-fill"></i> Location</a></li>
                <li><a href=""><i class="bi bi-globe"></i> US English <i class="bi bi-chevron-down"></i></i></a></li>
                <li><a href=""><i class="bi bi-search"></i></a></li>
            </ul>
        </div>
    </div>
    
    <div class="bottomNav">
        <div class="bottomleft"></div>
        <div class="bottomright">
            <ul>
                <li id='dropdown'>
                    <p>WHAT WE DO <i class="bi bi-chevron-down"> </i></p>
                </li >
                <li id='dropdown2'>
                    <p>INDUSTRIES <i class="bi bi-chevron-down"></i></p>
                   
                </li>
                <li id = 'dropdown3'>
                    <p>INSIGHTS <i class="bi bi-chevron-down"></i></p>
                </li>
                <li id = 'dropdown4'>
                    <p>CARRERS <i class="bi bi-chevron-down"></i></p>
                   
                </li>
                <li id = 'dropdown5'>
                    <p>WHO ARE WE <i class="bi bi-chevron-down"></i></p>
                </li>
            </ul>
        </div>
    </div>

    <div class="dropdownHide" id="dropdownMenu">
        <div class="dropDownHeading">
            <a href="">
                <h2>
                    ACCELERATE BUSINESS TRANSFORMATION
                </h2>
            </a>
        </div>
        <div class="dropDownGroup">
            <div class="dropDownGroup1">
                <a href=""><h3>MAXIMIZE TECHNOLOGY ROI</h3></a>
                <a href=""><h4>Cloud, Digital & Data</h4></a>
                <a href=""><h4>Cloud, Services</h4></a>
                <a href=""><h4>Data Analytics</h4></a>
                <a href=""><h4>Application Innovation</h4></a>
                <a href=""><h4>AI, ML & Automation</h4></a>
                <a href=""><h4>Agile Transformation</h4></a>
               
            </div>
            <div class="dropDownGroup1">
                <a href="">
                    <h3>DRIVE BUSINESS GROWTH</h3>
                </a>
                <a href="">
                    <h4>Business Modernization</h4>
                </a>
                <a href="">
                    <h4>Technology Operations <br>
                        Management</h4>
                </a>
            </div>
            <div class="dropDownGroup1">
                <a href="">
                    <h3>ELEVATE CUSTOMER <br> EXPERIENCES</h3>
                </a>
                <a href="">
                    <h4>Brand Strategy & Design</h4>
                </a>
                <a href="">
                    <h4>Digital Strategy & Experience <br>Design</h4>
                </a>
                <a href="">
                    <h4>Data Analytics for UI/UX</h4>
                </a>
                <a href="">
                    <h4>Digital Workplace Services</h4>
                </a>
            </div>
            <div class="dropDownGroup1">
                <a href="">
                    <h3>MOBILIZE TALENT</h3>
                </a>
                <a href="">
                    <h4>Managed Service Program <br> (MSP) Support</h4>
                </a>
                <a href="">
                    <h4>Marketplace Diversity Solutions <br>
                        Talent Solutions</h4>
                </a>
            </div>
        </div>
        <div class="dropdownbottomWithArrow">
            <div class="dropdownbottomWithArrowHeading">
                <a href="">
                    <h3>HOW WE WORK</h3>
                </a>
                <hr>
            </div>
            <div class="dropdownbottomWithArrowcontent">
                <a href=""><h4>DevOps & Agile</h4></a>
                <a href="">
                    <h4> Risk & Security</h4>
                </a>
                <a href="">
                    <h4>Workforce Development</h4>
                </a>
                <a href="">
                    <h4>Technology Partnerships</h4>
                </a>
                <div class="dropdownarrow">
                    <a href="">
                        <h4>See Our Work <i class="bi bi-arrow-right"></i> </h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="dropdownHide2" id="dropdownMenu2">
        <div class="dropDownHeading">
            <a href="">
                <h2>
                    INDUSTRIES
                </h2>
            </a>
        </div>
        <div class="dropDownGroup">
            <div class="dropDownGroup1">
                <a href="">
                    <h4>Financial Services</h4>
                </a>
                <a href="">
                    <h4>Healthcare</h4>
                </a>
                <a href="">
                    <h4>Public Sector</h4>
                </a>
                
            </div>
            <div class="dropDownGroup1">
                <a href="">
                    <h4>
                        Healthcare
                        Public Sector
                        Telecommunications
                    </h4>
                </a>
                <a href="">
                    <h4>Technology Enablement</h4>
                </a>
                <a href="">
                    <h4>Media, Entertainment & Gaming</h4>
                </a>
            </div>
            <div class="dropDownGroup1">
                <a href="">
                    <h4>Transportation and Travel</h4>
                </a>
                <a href="">

                </a>
                <a href="">
                    <h4>Energy</h4>
                </a>
                <a href="">
                    <h4>Retail and Consumer Packaged Goods <br> (CPG)</h4>
                </a>
               
            </div>
           
        </div>
        <div class="dropdownbottomWithArrow2">
           
                <div class="dropdownarrow2">
                    <h4>See Our Work <i class="bi bi-arrow-right"></i> </h4>
                </div>
    
        </div>
    </div>
    <div class="dropdownHide3" id="dropdownMenu3">
        <div class="dropDownHeading">
            <h2>
                INSIGHTS
            </h2>
        </div>
        <div class="dropDownGroup">
            <div class="dropDownGroup1">
                <a href="">
                    <h3>BY SERVICE</h3>
                </a>
                <hr>
                <a href="">
                    <h4>Agile Transformation</h4>
                </a>
                <a href="">
                    <h4>AI, ML & Automation</h4>
                </a>
                <a href="">
                    <h4>Application Innovation</h4>
                </a>
                <a href="">
                    <h4>Brand Strategy & Design</h4>
                </a>
                <a href="">
                    <h4>Business Modernization</h4>
                </a>
                <a href="">
                    <h4>Cloud, Digital & Data</h4>
                </a>
                <a href="">
                    <h4>Cloud Services</h4>
                </a>
                <a href="">
                    <h4>Data Analytics</h4>
                </a>
            </div>
            <div class="dropDownGroup1">
                <a href="">
                    <h4>Data Analytics for UI/UX</h4>
                </a>
                <a href="">
                    <h4>Digital Strategy & Experience <br> Design</h4>
                </a>
                <a href="">
                    <h4>Digital Workplace Services</h4>
                </a>
                <a href="">
                    <h4>Talent Solutions</h4>
                </a>
                <a href="">

                </a>
                <a href="">
                    <h4>Technology Operations <br> Management</h4>
                </a>
                
            </div>
            <div class="dropDownGroup1">
                <a href="">
                    <h3>BY INDUSTRY</h3>
                </a>
                <hr>
                <a href="">
                    <h4>Communications</h4>
                </a>
                <a href="">
                    <h4>Education</h4>
                </a>
                <a href="">
                    <h4>Energy</h4>
                </a>
                <a href="">
                    <h4>Financial Services</h4>
                </a>
                <a href="">
                    <h4>Government</h4>
                </a>
                <a href="">
                    <h4>Healthcare</h4>
                </a>
                <a href="">
                    <h4>Hospitality</h4>
                </a>
                <a href="">
                    <h4>Legal</h4>
                </a>
                <a href="">
                    <h4>Manufacturing</h4>
                </a>
                <a href="">
                    <h4>Retail</h4>
                </a>
            </div>
            <div class="dropDownGroup1">
                <a href="">
                    <h3>BY CONTENT TYPE</h3>
                </a>
                <hr>
                <a href="">
                    <h4>Article</h4>
                </a>
                <a href="">
                    <h4>Feature</h4>
                </a>
                <a href="">
                    <h4>Infographic</h4>
                </a>
                <a href="">
                    <h4>News Article</h4>
                </a>
                <a href="">
                    <h4>Podcast</h4>
                </a>
                <a href="">
                    <h4>Press Release</h4>
                </a>
                <a href="">

                </a>
                <a href="">
                    <h4>Success Story</h4>
                </a>
                <a href="">
                    <h4>Video</h4>
                </a>
                <a href="">
                    <h4>Webinar</h4>
                </a>
                <a href="">
                    <h4>White Paper</h4>
                </a>
            </div>
        </div>
        <div class="dropdownbottomWithArrow3">
                <div class="dropdownbottomWithArrowHeading">
                    <h3>SPOTLIGHT</h3>
                </div>
           
                <div class="dropdownarrow33">
                   <a href="">
                    <h4>See Our Work <i class="bi bi-arrow-right"></i> </h4>
                   </a>
                </div>
            
        </div>
    </div>
    <div class="dropdownHide4" id="dropdownMenu4">
        <div class="dropDownHeading">
            <a href="">
                <h2>
                    CAREERS
                </h2>
            </a>
        </div>
        <div class="dropDownGroup">
            <div class="dropDownGroup1">
                <a href="">
                    <h3>BECOME A CONSULTANT</h3>
                </a>
             
            </div>
            <div class="dropDownGroup1">
                <a href="">
                    <h3>INCLUSION & DIVERSITY</h3>
                </a>

            </div>
            <div class="dropDownGroup1">
                <a href="">
                    <h3>SERVING VETERANS</h3>
                </a>
            </div>
            <div class="dropDownGroup1">
                <a href="">
                    <h3>INTERNAL CAREERS</h3>
                </a> 
            </div>
        </div>
        <div class="dropdownbottomWithArrow">
            <div class="dropdownbottomWithArrowHeading">
            </div>
            <div class="dropdownbottomWithArrowcontent44">
                <a href="">
                    <h4>Experienced Professionals</h4>
                </a>
                <a href="">
                    <h4>Global Services Careers</h4>
                </a>
                <a href="">
                    <h4>Recruiting & Sales</h4>
                </a>
                <a href="">
                    <h4>Internships</h4>
                </a>
                <a href="">
                    <h4>Corporate & Customer Support</h4>
                </a>
                <a href="">
                    <h4>Benefits</h4>
                </a>
            </div>
        </div>
    </div>
    <div class="dropdownHide5" id="dropdownMenu5">
        <div class="dropDownHeading">
            <a href="">
                <h2>
                    WHO WE ARE
                </h2>
            </a>
        </div>
        <div class="dropDownGroup55">
            <div class="dropDownGroup1">
                <a href="">
                    <h3>OUR VALUES</h3>
                </a>
            </div>
            <div class="dropDownGroup1">
                <a href="">
                    <h3>OUR HISTORY</h3>
                </a>
            </div>
            <div class="dropDownGroup1">
                <a href="">
                    <h3>OUR LEADERS</h3>
                </a>
            </div>
            <div class="dropDownGroup1">
                <a href="">
                    <h3>CORPORATE SOCIAL RESPONSIBILITY</h3>
                </a>
            </div>
            <div class="dropDownGroup1">
                <a href="">
                    <h3>DIVERSITY, EQUITY AND INCLUSION</h3>
                </a>
            </div>
            <div class="dropDownGroup1">
                <a href="">
                    <h3>NEWSROOM</h3>
                </a>
            </div>
            <div class="dropDownGroup1">
                <a href="">
                    <h3>SUCCESS STORIES</h3>
                </a>
            </div>
            <div class="dropDownGroup1">
                <a href="">
                    <h3>EVENTS</h3>
                </a>
            </div>
           
        </div>
        <div class="dropdownbottomWithArrow">
            <div class="dropdownbottomWithArrowHeading">
                <a href="">
                    <h3>TECHNOLOGY PARTNERSHIPS</h3>
                </a>
                <hr>
            </div>
            <div class="dropdownbottomWithArrowcontent">
                <a href="">
                    <h4>AWS</h4>
                </a>
                <a href="">
                    <h4>Google Cloud</h4>
                </a>
                <a href="">
                    <h4> Microsoft</h4>
                </a>
                <a href="">
                    <h4>Red Hat</h4>
                </a>
                <a href="">
                    <h4>ServiceNow</h4>
                </a>
                <a href="">
                    <h4>Snowflake</h4>
                </a>
            </div>
        </div>
    </div>
</div>