{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '/teksys/css/style.css' %}">

    <div class="homeHeroSection">
        <video src="{% static '/teksys/img/bg_vid.mp4' %}" muted autoplay loop class="heroVide" ></video>
        <div class="heroOverlay"></div>
        <div class="heroTextContainer">
            <h1>DIVERSITY, EQUITY, AND <br>INCLUSION IN IT 2024</h1>
            <h3>How Training Dojos Transform the Organization’s Learning Culture</h3>
            <button>Explore Now</button>
        </div>
    </div>

    <div class="about">


        <div class="aboutImage">
            <div class="aboutImage1" data-aos="fade-down">
                <img src="{% static  '/teksys/img/city.jpg'%}" width="400px">
            </div>
            <div class="aboutImage2" data-aos="fade-right">
                <img src="{% static '/teksys/img/group.jpg'%}" width="400px">
            </div>
        </div>

        
        <div class="aboutText">
            <small>Who We Are</small>
            <h3>A Culture Rooted in Purpose</h3>
            <p>The future—and how we get there—depends on innovators who build, connect, create and transform our world through technology. We’re fully engaged, hands-on collaborators, rooted in core values and passionate about accelerating positive change for our customers, our people and our communities. <br>

            A new world of opportunity awaits. We stand ready to partner side by side with you. Whether it’s developing solutions that transform your technology stack, your business or your workforce, we’re in it with you.</p>


            <div class="aboutBtn">
                <button>
    
                </button>
            </div>


        </div>


    </div>

    <div class="infograph">
        <div class="infographImage" data-aos="fade-up"
        data-aos-duration="3000">
            <img src="{% static '/teksys/img/conf.jpg'%}" width="700px">
        </div>
        <div class="infographText">
            <small>Infographic</small>
            <h3>Becoming a Digital Transformation Leader: What Does It Take?</h3>
            <p>Join the ranks of digital leaders taking all the right steps to make their <br> transformation journey a success.</p>
            <div class="infograpgTextKeepReading">
                <button>
                    <h5>Keep Reading</h5>
                </button>
            </div>
        </div>
    </div>

    <div class="articles">
        <div class="articlText">
            <small>Article</small>
            <h3>The Real Deal About Workforce <br>Diversity and Inclusion
            </h3>
            <p>Increasing retention is the only way we’ <br>ll move the needle in <br>establishing long-term change <br>in the tech industry.</p>
            <div class="articleTextBtn">
                <button>
                    <h5>
                        Keep Reading
                    </h5>
                </button>
            </div>
        </div>
        <div class="articleImage" data-aos="fade-up"
        data-aos-duration="3000">
            <img src="{% static '/teksys/img/conf2.jpg'%}" width="700px">
        </div>

    </div>

    <div class="ourPartnership">
        <div class="ourPartUpper">
            <div class="ourPartUpperText">
                <small>Our Partnerships</small>
                <h3>In Good Company</h3>
                <p>Transformational technologies demand equally transformative partnerships. <br>Full-stack capabilities coupled with depth and diversity of experience in leading <br>platforms that help organizations grow, innovate and thrive.</p>
            </div>
            <div class="ourPartUpperArrow">
                <h3>View All</h3>
                <i class="bi bi-arrow-right"></i>
            </div>

        </div>
        <div class="ourPartLower">
            <div>
                <img src="{% static '/teksys/img/aws.png'%}" width="100px">
            </div>

            <div>
                <img src="{% static '/teksys/img/clod.png'%}" width="100px">
            </div>
            
            <div>
                <img src="{% static '/teksys/img/msp.png'%}" width="200px">
            </div>
            
            <div>
                <img src="{% static '/teksys/img/redhat.png'%}" width="200px">
            </div>

            <div>
                <img src="{% static '/teksys/img/SN.png'%}" width="200px">
            </div>
            
            <div>
                <img src="{% static '/teksys/img/SF.png'%}" width="200px">
            </div>
            
        </div>

    </div>

    <div class="latesestInsight">
        <div class="latestInsightText">
            <div class="lIt">
                <small>Latest Insights</small>
                <h3>Thinking Forward</h3>
            </div>
            <div class="lItA">
                <h3>View All</h3>
                <i class="bi bi-arrow-right"></i>
            </div>
        </div>
        <div class="latestInsightImagecardContainer">
                <div class="latestInsightCardConataner">
                    <div class="latestInsImageCard">
                        <div class="lateInImage">
                            <img src="{% static '/teksys/img/tech.jpg'%}" width="100%">
                        </div>
                        <div class="lateInText">
                            <small>      
                            Podcast
                            </small>
                            <h3>
                                How Dojos Transform the Organization’s Learning Culture: Episode 1
                            </h3>
                            <p>
                                In this podcast episode, TEKsystems Practice Lead of Technology and Business Agility Dojos Danny Lopez discusses how to align the dojo model with overarching business goals and technology.
                            </p>
                            <div class="lItcArrow">
                                <h3>View All</h3>
                                <i class="bi bi-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="latestInsightCardConataner">
                    <div class="latestInsImageCard">
                        <div class="lateInImage">
                            <img src="{% static '/teksys/img/tech3.jpg'%}" width="100%">
                        </div>
                        <div class="lateInText">
                            <small> 
                                Success Story
                            </small>
                            <h3>
                                Livestreaming Leveled-Up
                            </h3>
                            <p>
                                Implement these seven strategies for optimizing costs with Snowflake to help your  organization  efficiently manage resources.
                            </p>
                            <div class="lItcArrow">
                                <h3>View All</h3>
                                <i class="bi bi-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="latestInsightCardConataner">
                    <div class="latestInsImageCard">
                        <div class="lateInImage">
                            <img src="{% static '/teksys/img/tech4.jpg'%}" width="100%">
                        </div>
                        <div class="lateInText">
                            <small> 
                                Infographic
                            </small>
                            <h3>
                                Create a Customized Plan for Your Snowflake Data Migration
                            </h3>
                            <p>
                                Implement these seven strategies for optimizing costs with Snowflake to help your  organization  efficiently manage resources.
                            </p>
                            <div class="lItcArrow">
                                <h3>View All</h3>
                                <i class="bi bi-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            
        </div>
    </div>

    <div class="atAGlance">
        <div class="atAGlanceText">
            <div class="atAgTT">
                <small>At a Glance</small>
                <h3>We're Partners in Transformation</h3>
            </div>
            <div class="atAgTE"></div>
            
        </div>
        <div class="atAGlanceMap">
            <div class="atAGLDis">
                <div class="atAGLLocation">
                    <i class="bi bi-globe2"></i>
                    <h3>100+</h3>
                    <p>locations worldwide</p>
                </div>
                <div class="atAGLStats">
                    <i class="bi bi-graph-up"></i>
                    <h3>$7billion+</h3>
                    <p>annual revenue</p>
                </div>
            </div>
            <div class="atAGLMap">
                <img src="{% static '/teksys/img/mappppp.PNG'%}" width="1000px">
            </div>
            <div class="atAGLIncrease">
                <div class="atAGLInc1">
                    <div class="atAGLInc1circl">
                        <h3>98%</h3>
                    </div>
                    <div class="atAGLInc1Text">
                        <p>client retention</p>
                    </div>
                </div>
                <div class="atAGLInc2">
                    <div class="atAGLInc2circle">
                        <h3>93%</h3>
                    </div>
                    <div class="atAGLInc2Text">
                        <p>NPS scores for services delivered</p>
                    </div>
                </div>
                <div class="atAGLInc3">
                    <div class="atAGLInc3circle">
                        <h3>30%</h3>
                    </div>
                    <div class="atAGLInc3Text">
                        <p>higher client satisfaction rate vs. the competition</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="transformSolo">
        <div class="transformText">
            <h2>Transformation never plays solo.
                Team up with a full-stack technology partner.
            </h2>
        </div>
        
        <a href="">
        <div class="transformButton">
                    <h3>
                        Explore our services
                    </h3>
            </div>
        </a>
    </div>
    
{% endblock %}