{% extends 'base.html' %}
{% block content %}
{% load static %} 

   

    <div class="page4HeroSection">
        <div class="page4HeroSectionImg">
            <img src="{% static 'img/office_people.jpg'%}" >
            <div class="page4HeroSectionImgFilter">
                
            </div>

        </div>

        <div class="page4HeroSectionText">
            <small>Careers</small>
            <h1>OWN YOUR TOMORROW</h1>
        </div>
    </div>

    <div class="page4WorkWithUsGroup">
        <div class="page4WorkWithUs">
            <div class="page4WorkWithUsImg">
                <img src="{% static 'img/workWithUs.jpg'%}" >
            </div>
            <div class="page4WorkWithUsText">
                <h3>Work With Us</h3>
                <p>Put your talent to work and discover exciting consultant opportunities working with over 80% of the Fortune 500.</p>
            </div>
        </div>
        <div class="page4WorkForUs">
            <div class="page4WorkForUsImg">
                <img src="{% static 'img/workForeUs.jpg'%}">
            </div>
            <div class="page4WorkForUsText">
                <h3>Work For Us</h3>
                <p>There are many ways to make an impact at TEKsystems. Find the internal career path that’s right for you.</p>
            </div>
        </div>
    </div>

    <div class="page4ServingVeterans">
        <div class="page4ServingVeteransText">
            <h3>Serving Veterans</h3>
            <p>We actively support veterans, active military and military spouses in achieving their career goals and ambitions. Let us serve you as your partner in career transformation.</p>
            <a href="">Learn More</a>
        </div>
        <div class="page4ServingVeteransImg">
            <img src="{% static 'img/vetrans.jpg'%}" >
        </div>
    </div>

    <div class="page4InclusionDiversity">
        <div class="page4InclusionDiversityImg">
            <img src="{% static 'img/officeMeeting.jpg'%}">
        </div>
        <div class="page4InclusionDiversityText">
            <h3>
                Inclusion & Diversity
            </h3>
            <p>We’re on a mission to build a more inclusive and diverse workplace. We know diversity is powerful. Come find your place.</p>

            <a href="">Learn More</a>
        </div>
    </div>

    <div class="page4Conclusion">


        <p>
            We are an equal opportunity employers and will consider all applications without regard to race, genetic information, sex, age, color, religion, national origin, veteran status, disability or any other characteristic protected by law. To view the EEO is the law poster click here. Applicants with disabilities that require an accommodation or assistance a position, please call 888-472-3411. This is a dedicated line designed exclusively to assist job seekers whose disability prevents them from being able to apply online. Messages left for other purposes will not receive a response. For information on H-1B nonimmigrants working at various US locations see Labor Condition Applications (“LCAs”) under the Career tab above.
        </p>
    </div>


{% endblock %}