.page2HeroSection{
    background: url("./assets/pg2bng.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.page2HeroSecText1{
    padding-top: 150px;
    color: white;
    display: flex;
    justify-content: left;
    padding-left: 50px;
}
.page2HeroSecText1 a{
    padding-right: 10px;
    color: white;
}

.page2HeroSecText2{
    padding-top: 150px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: white;
}


.page2infoSectionTri{
    padding-top: 30px;
    padding-left: 50px;
    margin-left: 60px;
    height: 50vh;
    width: 40vh;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
}

.triNight_light{
    width: 80%;
}

.page2infoSectionText{
    width: 70vw;
    padding-bottom: 50px;
    padding-left: 50px;
   
}
.page2infoSectionText h3{
    width: 70vw;
    padding-left: 50px;
    font-size: 30px;
}

.page2infoSectionText p{
    width: 70vw;
    padding-left: 50px;
    padding-top: 30px ;
    font-size: 20px;
}

.page2infoSectionText2{
    background: url("./assets/nightinfo.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 150vh;
}

.page2infoSectionText2 {
    color: white;
    padding: 90px;
}

.page2infoSectionText2 p{
    font-size: 20px;
}

.page2infoSectionText2 h3{
    font-size: 50px;
    padding-top: 20px;
}

.page2DriveBusGrowth{
    padding: 30px 100px;
    transition: all .3s ease;
}

.page2DriveBusGrowthcardcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.page2DriveBusGrowthcardicon{
    transition: all .3s ease;
}
.page2DriveBusGrowthcardicon:hover{
    transform: scale(1.3);
    cursor: pointer;
}

.page2DriveBusGrowthtext{
    padding: 20px 0;
}
.page2DriveBusGrowthtext p{
    color: rgb(13, 185, 185);
}

.page2DriveBusGrowthtext h2{
    font-size: 40px;
}

.page2DriveBusGrowthcard{
    padding: 10px;
    width: 500px;
    height: 300px;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    margin-top: 50px;

}

.page2DriveBusGrowthcardicon{
    position: absolute;
    top :-70px;
    left: 20px;
    font-size: 100px;
}

.page2DriveBusGrowthcardtext{
    margin-right: 10px;
}
.page2DriveBusGrowthcardtext h3{
    font-size: 30px;
    padding-bottom: 10px;
    
}
.page2DriveBusGrowthcardtext{
    line-height: 30px;
}

.page2DriveBusGrowthcardBTN{
    position: absolute;
    bottom :20px;
    right: 20px;
    font-size: 100px;
}

.page2DriveBusGrowthcardBTN button{
    padding: 8px 20px;
    border-radius: 10px;
    border: none;
    background: yellowgreen;
    color: white;
}

/* our latest Insight */


.page2OurlatesestInsight{
    margin-top: 20px;
    height: 100vh;
}

.page2OurlatestInsightText{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 110px;

}

.page2OurlIt small{
    font-size: 15px;
    width: bold;
    color: aqua;
}

.page2OurlIt h3{
    font-size: 30px;
    width: bold;
    margin-top: 20px;
}

.page2OurlItA{
    display: flex;
    color: #37a000;
}

.page2OurlItA h3{
    margin: 0 10px;
}

.page2OurlItA h3:hover{
    transform: translateX(-10px);
    transition: .3s;
}

.page2OurlItA i{
    font-size: 20px;
    width: bold;
}
.page2OurlatestInsightImagecardContainer{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}


.page2OurlatestInsImageCard{
    background: white;
}

.page2OurlateInImage{
    overflow: hidden;
    height: 200px;
    border-radius: 10px;
}
.page2OurlateInImage img{
    transition: all .3s ease;
}

.page2OurlateInImage img:hover{
    transform: scale(1.2);
    cursor: pointer;
    width: 350px;
    transition: all .5 ease;
}

.page2OurlatestInsImageCard:hover .OurlItcArrow{
    border-bottom: 1px solid black;
    color: black;
    margin-top: 20px;
}



.page2OurlatestInsImageCard{
    /* display: grid; */
    width: 300px;
    overflow: hidden;
    /* background: whitesmoke; */
    border-radius: 10px;
    transition: all 0.3s ease;
}

.page2OurlateInImage img{
    border-radius: 10px;
}

.page2OurlateInText small{
    margin: 10px 0;
    color: aqua;
    font-size: 20px;
    width: bold;
}
.page2OurlateInText{
    font-size: 18px;
    width: bold;
    padding: 10px 20px;
}

.page2OurlateInText p{
    margin: 10px 0;
}
.page2OurlItcArrow{
    display: flex;
    align-items: center;
    color: #37a000;
    width: max-content;
    
}
.page2OurlItcArrow h3{
    margin-right: 10px;
}