.page1HeroSection{
    height: 100vh;
    overflow-y: hidden;
}
.page1heroVide{
    width: 100%;
}

.page1heroOverlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.page1heroTextContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 345678;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page1heroTextContainer h2{
    text-align: center;
    font-size: 80px;
    color: white;
    margin-top: 150px;
}

.page1ListCollection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 20px 0;
    /* border-width: 5px; */
    background: whitesmoke;
}

.page1rethink{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}
.page1rethinkleft{
    width: 600px;
    transform: translate(-20px, -20px); 
    
}
.page1rethinkleft h3{
    font-size: 40px;
    margin: 20px 0; 
}

.page1rethinkright{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    padding: 40px 30px;
    background: whitesmoke;
    border-radius: 10px;
    margin-top: 20px ;
    margin-bottom: 50px;
}

.page1rethinkTria {
    font-size: 70px;
    transform: translate(-200px, -20px);
    color: rgb(20, 155, 252);
}
.page1rethinkright h2{
    transform: translate(10px, -100px);
    font-size: 90px;
}

.page1rethinkright h3{
    transform: translate(10px, -100px);
    margin-bottom: 30px;
}

.page1rethinkright small{
    transform: translate(10px, -100px);
    margin-right: 260px;
    margin-bottom: 10px;
    color: rgb(20, 155, 252);
}

.page1rethinkright p{
    transform: translate(10px, -100px);
}

.pg1stArrow {
    transform: translate(-112px, -80px);
    color:  green;
}

.pg1stArrow:hover {
    color: rgb(1, 1, 32);
    transition: 0.9s;
}

.page1InItWithYou{
    background: url("..img/solarguy.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 80vh;
}
.page1InItWithYouText{
    width: 900px;
    max-height: 70vh;
    padding: 50px;
    color: white;
    background: rgb(1, 1, 36);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    border-radius: 10px;
    
    /* transform: translate(300px 50px); */
}

.page1InItWithYouText h2{
    margin-bottom: 20px;
}
.page1InItWithYouText p{
    line-height: 30px;
}

.page1AtaGlance{
    padding-top: 50px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.page1AtaGlanceUpperText{
    margin-bottom: 50px;
    margin-right: 600px;
}

.page1AtaGlanceLowerGroupText{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.page1AtaGlanceLowerGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    padding: 50px;
    background: whitesmoke;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;  

}
.page1AtaGlanceLowerGroup h2{
    font-size: 50px;
    color: rgb(4, 160, 202);
}

.page1ApplicationInText{
    padding: 0 100px;
}

.page1ApplicationInText h2{
    font-size: 30px;
    margin: 20px 0;
}

.page1ApplicationInText p{
    line-height: 30px;
}

.page1ApplicationInnImageContainer{
    padding-top: 50px;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.page1ApplicationInnImgCon{
    gap: 30px;
    width: 500px;
    height: 600px;
    overflow: hidden;
    border-radius: 10px;
    background: url("..img/dis1.jpg");
    
}

.pgAppInntex{
    padding-left: 20px;
    transition: all .3s ease;
}
.pgAppInnPlus{
    padding: 30px;
    margin-left: 200px;
    font-size: 40px;
}
.page1ApplicationInn{
    padding-bottom: 50px;
}
.page1ApplicationInnText{
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, silver, silver, transparent, transparent, transparent );
}

.page1ApplicationInnImgCon:hover .pgAppInntex {
    transform: translateY(-10px);
}

.page1explor{
    background: url("..img/pg1bng.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.page1explortext{
    margin-right: 100px;
}

.page1explortext h3{
    font-size: 30px;
}

.page1explortext p{
    font-size: 20px;
}

.page1explorbutton button{
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    background: yellowgreen;

    margin-top: 50px;
    margin-left: 600px;
}


/* our latest Insight */


.OurlatesestInsight{
    margin-top: 20px;
    height: 100vh;
}

.OurlatestInsightText{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 110px;

}

.OurlIt small{
    font-size: 15px;
    width: bold;
    color: aqua;
}

.OurlIt h3{
    font-size: 30px;
    width: bold;
    margin-top: 20px;
}

.OurlItA{
    display: flex;
    color: #37a000;
}

.OurlItA h3{
    margin: 0 10px;
}

.OurlItA h3:hover{
    transform: translateX(-10px);
    transition: .3s;
}

.OurlItA i{
    font-size: 20px;
    width: bold;
}
.OurlatestInsightImagecardContainer{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}


.OurlatestInsImageCard{
    background: white;
}

.OurlateInImage{
    overflow: hidden;
    height: 200px;
    border-radius: 10px;
}
.OurlateInImage img{
    transition: all .3s ease;
}

.OurlateInImage img:hover{
    transform: scale(1.2);
    cursor: pointer;
    width: 350px;
    transition: all .5 ease;
}

.OurlatestInsImageCard:hover .OurlItcArrow{
    border-bottom: 1px solid black;
    color: black;
    margin-top: 20px;
}



.OurlatestInsImageCard{
    /* display: grid; */
    width: 300px;
    overflow: hidden;
    /* background: whitesmoke; */
    border-radius: 10px;
    transition: all 0.3s ease;
}

.OurlateInImage img{
    border-radius: 10px;
}

.OurlateInText small{
    margin: 10px 0;
    color: aqua;
    font-size: 20px;
    width: bold;
}
.OurlateInText{
    font-size: 18px;
    width: bold;
    padding: 10px 20px;
}

.OurlateInText p{
    margin: 10px 0;
}
.OurlItcArrow{
    display: flex;
    align-items: center;
    color: #37a000;
    width: max-content;
    
}
.OurlItcArrow h3{
    margin-right: 10px;
}

.page1Letscontact{
    background: url("../img/officelady.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 40vh;
}

.page1LetscontactText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}

.page1LetscontactText h3{
    font-size: 40px;
    color: white;
}

.page1LetscontactText button{
    padding: 10px 30px;
    margin-top: 20px;
    font-size: 20px;
    background: rgb(172, 226, 63);
    border: none;
    border-radius: 10px;
}